a {
  text-decoration: underline;
  cursor: pointer;
}

header h1 {
  display: inline;
  font-size: 1.4em;
  margin-left: 20px;
  padding-bottom: 15px;
  text-transform: lowercase;
  font-weight: bold;
}

header h2 {
  display: inline;
  font-size: 1.2em;
  padding-bottom: 15px;
  text-transform: uppercase;
}

nav {
  border-bottom: 1px solid #EFEFEF;
  background-color: #F8F8F8;
  margin: auto 0.3rem;
}

nav li {
  display: inline;
  display: inline-block;
  padding: 0.3rem 1rem;
}

section {
  padding: 1rem 2rem;
}

thead th:hover {
  cursor: pointer;
  text-decoration: underline;
}

th.sorted {
}

th.sorted.asc:after {
  padding-right: 5px;
  content:'  \25B2';
}

th.sorted.desc:after {
  padding-right: 5px;
  content: '  \25BC';
}

aside.error {
  color: #900;
  font-style:italic;
  text-align:center;
  font-size:0.8em;
  line-height:1em;
}

.button.red {
  background-color: #FCB3CE;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.subtleNotice {
  text-align: center;
  font-style: italic;
  color: #666;
}