<nav ng-include="'views/nav.html'"></nav>
<section ng-cloak>
  <h3>{{assignment.description}}</h1>
  <strong>Summary</strong>: {{assignment.summary}}<br />
  <strong>Expected delivery</strong>: {{assignment.expected_delivery}}<br />
  <strong>Requested return</strong>: {{assignment.requested_return}}<br />
  <strong>Created</strong>: {{assignment.creation_date}}<br />
  <strong>Created by</strong>: {{assignment.created_by_name}}<br />
  <span ng-show="assignment.assigned_to"><strong>Assigned to</strong>: {{assignment.assigned_to.fullname}}</span><br />
  <span ng-show="assignment.time_to_complete"><strong>Time to complete</strong>: {{assignment.time_to_complete}}</span><br />
  <span ng-show="!assignment.completion_date && assignment.assigned_to && (assignment.isMine || assignment.isClaimedByMe)">
    <a class="button button-mini button-primary" ng-href="#/assignments/{{assignment.id}}/complete">Mark completed</a>
    <a class="button button-mini" ng-click="unclaimAssignment()">Unclaim</a>
  </span>
  <span ng-hide="assignment.assigned_to || assignment.isMine || assignment.isClaimedByMe">
    <a class="button button-mini button-primary" ng-click="claimAssignment()">Claim</a>
  </span>
  <a class="button button-mini" cancel-click>Back</a>
</section>
<debug>
  Selected assignment details:<br />
	{{assignment}}<br />
	Authenticated user:<br />
	{{user}}
</debug>