<nav ng-include="'views/nav.html'"></nav>
<section id="login">
  <form ng-submit="authenticate()" autocomplete="off">
    <div class="grid">
      <div class="grid-item medium-two-thirds">
        <fieldset class="fieldset-border">
          <legend>Login</legend>
	        <label for="username">Username</label> <input name="username" id="username" type="text" ng-model="user.username"  autocomplete="off" /><br />
	        <label for="password">Password</label> <input name="password" id="password" type="password" ng-model="user.password"  autocomplete="off" />
	        <button class="button button-mini button-primary" ng-click="authenticate()">Login</button>
        </fieldset>
        <aside class="error" ng-show="errorCode">
          Error: {{errorCode}}: {{errorMessage}}
        </aside>
      </div>
    </div>
  </form>
</section>
