<nav ng-include="'views/nav.html'"></nav>
<section>
  <form name="proofing_user" novalidate ng-submit="proofing_user.$valid && proofing_user.submit()">
    <label for="description">Username</label> <input name="username" id="username" type="text" ng-maxlength="20" placeholder="Username" ng-model="user.username" required />
      <div class="error" ng-show="proofing_user.username.$dirty && proofing_user.username.$invalid"><small class="error" ng-show="proofing_user.username.$error.required">You must enter a username</small><small class="error" ng-show="proofing_user.username.$error.maxlength">Please limit your username to 20 characters.</small></div>
    <label for="firstname">First name</label> <input name="firstname" id="firstname" type="text" ng-maxlength="50" placeholder="Users full name" ng-model="user.firstname" required />
      <div class="error" ng-show="proofing_user.firstname.$dirty && proofing_user.firstname.$invalid"><small class="error" ng-show="proofing_user.firstname.$error.required">You must enter the user's first name</small><small class="error" ng-show="proofing_user.firstname.$error.maxlength">Please limit your firstname to 50 characters.</small></div>
    <label for="lastname">Last name</label> <input name="lastname" id="lastname" type="text" ng-maxlength="50" placeholder="Users full name" ng-model="user.lastname" required />
      <div class="error" ng-show="proofing_user.lastname.$dirty && proofing_user.lastname.$invalid"><small class="error" ng-show="proofing_user.lastname.$error.required">You must enter the user's last name</small><small class="error" ng-show="proofing_user.lastname.$error.maxlength">Please limit your lastname to 50 characters.</small></div>
    <label for="email">Email address</label> <input name="email" id="email" type="text" ng-maxlength="50" placeholder="name@something.com" ng-model="user.email" required />
      <div class="error" ng-show="proofing_user.email.$dirty && proofing_user.email.$invalid"><small class="error" ng-show="proofing_user.email.$error.required">You must enter an email address</small><small class="error" ng-show="proofing_user.email.$error.email">Please enter a valid email address.</small></div>
    <label for="compensation">Compensation (per hour)</label> <input name="compensation" id="compensation" type="text" ng-maxlength="100" placeholder="$xx" ng-model="user.compensation" required />
      <div class="error" ng-show="proofing_user.compensation.$dirty && proofing_user.compensation.$invalid"><small class="error" ng-show="proofing_user.compensation.$error.required">You must enter a compensation amount</small></div>
    <label for="address">Mailing address</label> <textarea name="address" id="address" placeholder="Complete mailing address" ng-model="user.address" required></textarea>
      <div class="error" ng-show="proofing_user.address.$dirty && proofing_user.address.$invalid"><small class="error" ng-show="proofing_user.address.$error.required">You must enter mailing address</small></div>
    <label for="phone">Telephone</label> <input name="phone" id="phone" type="text" ng-maxlength="20" placeholder="555-867-5309" ng-model="user.phone" required />
      <div class="error" ng-show="proofing_user.phone.$dirty && proofing_user.phone.$invalid"><small class="error" ng-show="proofing_user.phone.$error.required">You must enter a phone number</small><small class="error" ng-show="proofing_user.phone.$error.maxlength">Please limit your phone number to 20 characters.</small></div>
    <label for="password">Password</label> <input name="password" id="password" type="password" ng-maxlength="36" ng-minlength="6" placeholder="*****" ng-model="user.password" autocomplete="off" />
      <div class="error" ng-show="proofing_user.password.$dirty && proofing_user.password.$invalid"><small class="error" ng-show="proofing_user.password.$error.required">You must enter a password</small><small class="error" ng-show="proofing_user.password.$error.maxlength">Please limit your password to 36 characters</small><small class="error" ng-show="proofing_user.password.$error.minlength">Your password must be at least 6 characters</small></div>
    <span ng-if="currentUser.administrator>=2">
      <label for="administrator">Account type</label> <select name="administrator" id="administrator" ng-model="user.administrator">
        <option value="0">Proofer</option>
        <option value="1" ng-if="currentUser.administrator>=1">Administrator</option>
        <option value="2" ng-if="currentUser.administrator>=2">Super Administrator</option>
      </select>
    </span>
    <br />
    <a class="button button-primary" ng-click="createUser()" ng-disabled="proofing_user.$invalid">Save</a>
    <a cancel-click class="button">Cancel</a>
  </form>
</section>

<debug>
  New user:<br />
	{{user}}<br />
	Current user:<br />
	{{currentUser}}
</debug>